<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team05.lecturec" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.team05.lecturec.ViewControllers.LoadingActivity"
            android:label="@string/title_activity_loading" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.team05.lecturec.ViewControllers.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.team05.lecturec.ViewControllers.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ViewControllers.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.team05.lecturec.ViewControllers.MainActivity" />
        </activity>

        <activity
            android:name="com.example.team05.lecturec.ViewControllers.NewmoduleActivity"
            android:label="@string/title_activity_newmodule"
            android:parentActivityName="com.example.team05.lecturec.ViewControllers.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.team05.lecturec.ViewControllers.MainActivity" />
        </activity>
    </application>

</manifest>
