<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobileapp.example.com.lecturerecorder" >


    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Loading screen -->
        <activity
            android:name="mobileapp.example.com.lecturerecorder.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="mobileapp.example.com.lecturerecorder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>








        <!-- About activity -->

        <activity
            android:name="mobileapp.example.com.lecturerecorder.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="mobileapp.example.com.lecturerecorder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobileapp.example.com.lecturerecorder.MainActivity" />
        </activity>
    </application>

</manifest>
